html {
  height:100%;
  margin: 0;
}

body {  
  background: #F0E9FB;
  
  height:100%;
  min-height:100%;
  position:relative;
  margin: 0;
}

.header {
  background: #D1BDED;
  border-radius: 0.5rem;
  margin-top: 0,2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ul-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}

.li-item {
  margin: 0.2rem;
  font-size: 1rem;
  text-align: center;
}

.li-href {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  color: #69439F;
}

.li-href:hover {
  color: #F0E9FB;
  background: #AE90D7;
  border-radius: 0.5rem;
}

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 90%;
}

.section-item {
  border: 0.15rem ridge #8965BB;
  padding: 0.5rem;
  border-radius: 1.5rem 1.5rem;
  vertical-align:middle;
  margin: 0.5rem;
  flex: 1 1 31%;
  background: #D1BDED;
  
  height: 45rem;
}

.img {   
  max-width: 100%;
}

.button {
  float: right;
  
  width: 4.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.15rem ridge #8965BB;
  background: #F0E9FB;
}

.footer {
  background: #D1BDED;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: right;
  padding: 0.5rem; 
  
  position: absolute;
  bottom:0;
  left:0;
  right:0; 
}